# This file defines the additional requirements for a developer working
# with this project (e.g. for testing or useful development tools).
# The regular project dependencies are defined in requirements.txt
black~=22.10
pre-commit~=2.20
pytest~=7.2
pytest-cov~=4.0
wheel~=0.37
cruft
versioneer